In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [6]:
dis_wise_cent = pd.read_csv(r"..\census_data\district wise_centroids.csv")

In [7]:
dis_wise_cent.head(3)

                 State         District   Latitude  Longitude
0  Andaman and Nicobar  Andaman Islands  12.382571  92.822911
1  Andaman and Nicobar  Nicobar Islands   7.835291  93.511601
2       Andhra Pradesh         Adilabad  19.284514  78.813212

In [8]:
ind_cen_husing = pd.read_csv(r"..\census_data\india_census_housing-hlpca-full.csv")

In [10]:
ind_cen_husing.head(3)

,State Code,State Name,District Code,District Name,Tehsil Code,Tehsil Name,Town Code/Village code,Ward No,Area Name,Rural/Urban,...,Contition_T_Total,Contition_T_Good,Contition_T_Livable,Contition_T_Dilapidated,Contition_R_Total,Residence_Good,Residence_Livable,Residence_Dilapidated,Residence_cum_other,Residence_cum_Good
0,1,JAMMU & KASHMIR,1,Kupwara,0,Kupwara,0,0,District - Kupwara,Rural,...,100,33.6,58.1,8.3,90.9,32.7,51.0,7.2,9.1,1.0
1,1,JAMMU & KASHMIR,1,Kupwara,0,Kupwara,0,0,District - Kupwara,Total,...,100,34.8,57.3,7.9,91.0,33.8,50.2,6.9,9.0,0.9
2,1,JAMMU & KASHMIR,1,Kupwara,0,Kupwara,0,0,District - Kupwara,Urban,...,100,45.7,49.5,4.8,91.8,45.0,42.2,4.5,8.2,0.7

In [11]:
ind_dist_cen = pd.read_csv(r"..\census_data/india-districts-census-2011.csv")

In [12]:
ind_dist_cen.head(3)

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242

In [18]:
list(ind_dist_cen.columns)

['District code',
 'State name',
 'District name',
 'Population',
 'Male',
 'Female',
 'Literate',
 'Male_Literate',
 'Female_Literate',
 'SC',
 'Male_SC',
 'Female_SC',
 'ST',
 'Male_ST',
 'Female_ST',
 'Workers',
 'Male_Workers',
 'Female_Workers',
 'Main_Workers',
 'Marginal_Workers',
 'Non_Workers',
 'Cultivator_Workers',
 'Agricultural_Workers',
 'Household_Workers',
 'Other_Workers',
 'Hindus',
 'Muslims',
 'Christians',
 'Sikhs',
 'Buddhists',
 'Jains',
 'Others_Religions',
 'Religion_Not_Stated',
 'LPG_or_PNG_Households',
 'Housholds_with_Electric_Lighting',
 'Households_with_Internet',
 'Households_with_Computer',
 'Rural_Households',
 'Urban_Households',
 'Households',
 'Below_Primary_Education',
 'Primary_Education',
 'Middle_Education',
 'Secondary_Education',
 'Higher_Education',
 'Graduate_Education',
 'Other_Education',
 'Literate_Education',
 'Illiterate_Education',
 'Total_Education',
 'Age_Group_0_29',
 'Age_Group_30_49',
 'Age_Group_50',
 'Age not stated',
 'Households_with_Bicycle',
 'Households_with_Car_Jeep_Van',
 'Households_with_Radio_Transistor',
 'Households_with_Scooter_Motorcycle_Moped',
 'Households_with_Telephone_Mobile_Phone_Landline_only',
 'Households_with_Telephone_Mobile_Phone_Mobile_only',
 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
 'Households_with_Television',
 'Households_with_Telephone_Mobile_Phone',
 'Households_with_Telephone_Mobile_Phone_Both',
 'Condition_of_occupied_census_houses_Dilapidated_Households',
 'Households_with_separate_kitchen_Cooking_inside_house',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households',
 'Ownership_Owned_Households',
 'Ownership_Rented_Households',
 'Type_of_bathing_facility_Enclosure_without_roof_Households',
 'Type_of_fuel_used_for_cooking_Any_other_Households',
 'Type_of_latrine_facility_Pit_latrine_Households',
 'Type_of_latrine_facility_Other_latrine_Households',
 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
 'Not_having_bathing_facility_within_the_premises_Total_Households',
 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
 'Main_source_of_drinking_water_Un_covered_well_Households',
 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households',
 'Main_source_of_drinking_water_Spring_Households',
 'Main_source_of_drinking_water_River_Canal_Households',
 'Main_source_of_drinking_water_Other_sources_Households',
 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
 'Location_of_drinking_water_source_Near_the_premises_Households',
 'Location_of_drinking_water_source_Within_the_premises_Households',
 'Main_source_of_drinking_water_Tank_Pond_Lake_Households',
 'Main_source_of_drinking_water_Tapwater_Households',
 'Main_source_of_drinking_water_Tubewell_Borehole_Households',
 'Household_size_1_person_Households',
 'Household_size_2_persons_Households',
 'Household_size_1_to_2_persons',
 'Household_size_3_persons_Households',
 'Household_size_3_to_5_persons_Households',
 'Household_size_4_persons_Households',
 'Household_size_5_persons_Households',
 'Household_size_6_8_persons_Households',
 'Household_size_9_persons_and_above_Households',
 'Location_of_drinking_water_source_Away_Households',
 'Married_couples_1_Households',
 'Married_couples_2_Households',
 'Married_couples_3_Households',
 'Married_couples_3_or_more_Households',
 'Married_couples_4_Households',
 'Married_couples_5__Households',
 'Married_couples_None_Households',
 'Power_Parity_Less_than_Rs_45000',
 'Power_Parity_Rs_45000_90000',
 'Power_Parity_Rs_90000_150000',
 'Power_Parity_Rs_45000_150000',
 'Power_Parity_Rs_150000_240000',
 'Power_Parity_Rs_240000_330000',
 'Power_Parity_Rs_150000_330000',
 'Power_Parity_Rs_330000_425000',
 'Power_Parity_Rs_425000_545000',
 'Power_Parity_Rs_330000_545000',
 'Power_Parity_Above_Rs_545000',
 'Total_Power_Parity']

In [24]:
ind_dist_cen['Age not stated']

0      1481
1       611
2       250
3       221
4       704
       ...
635      85
636     366
637      46
638      42
639     280
Name: Age not stated, Length: 640, dtype: int64

In [26]:
ind_dist_cen.drop(columns=['Religion_Not_Stated','Age not stated','Households_with_Bicycle',
 'Households_with_Car_Jeep_Van',
 'Households_with_Radio_Transistor',
 'Households_with_Scooter_Motorcycle_Moped',
 'Households_with_Telephone_Mobile_Phone_Landline_only',
 'Households_with_Telephone_Mobile_Phone_Mobile_only',
 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car','Households_with_Telephone_Mobile_Phone',
 'Households_with_Telephone_Mobile_Phone_Both',
 'Condition_of_occupied_census_houses_Dilapidated_Households',
 'Households_with_separate_kitchen_Cooking_inside_house',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households','Type_of_bathing_facility_Enclosure_without_roof_Households',
 'Type_of_fuel_used_for_cooking_Any_other_Households',
 'Type_of_latrine_facility_Pit_latrine_Households',
 'Type_of_latrine_facility_Other_latrine_Households',
 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
 'Not_having_bathing_facility_within_the_premises_Total_Households',
 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
 'Main_source_of_drinking_water_Un_covered_well_Households',
 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households',
 'Main_source_of_drinking_water_Spring_Households',
 'Main_source_of_drinking_water_River_Canal_Households',
 'Main_source_of_drinking_water_Other_sources_Households',
 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
 'Location_of_drinking_water_source_Near_the_premises_Households',
 'Location_of_drinking_water_source_Within_the_premises_Households',
 'Main_source_of_drinking_water_Tank_Pond_Lake_Households',
 'Main_source_of_drinking_water_Tapwater_Households',
 'Main_source_of_drinking_water_Tubewell_Borehole_Households','Power_Parity_Less_than_Rs_45000',
 'Power_Parity_Rs_45000_90000',
 'Power_Parity_Rs_90000_150000',
 'Power_Parity_Rs_45000_150000',
 'Power_Parity_Rs_150000_240000',
 'Power_Parity_Rs_240000_330000',
 'Power_Parity_Rs_150000_330000',
 'Power_Parity_Rs_330000_425000',
 'Power_Parity_Rs_425000_545000',
 'Power_Parity_Rs_330000_545000',
 'Power_Parity_Above_Rs_545000'],inplace=True)

In [29]:
ind_dist_cen.isnull().sum()

District code                           0
State name                              0
District name                           0
Population                              0
Male                                    0
                                       ..
Married_couples_3_or_more_Households    0
Married_couples_4_Households            0
Married_couples_5__Households           0
Married_couples_None_Households         0
Total_Power_Parity                      0
Length: 73, dtype: int64

In [31]:
list(ind_cen_husing.columns)

['State Code',
 'State Name',
 'District Code',
 'District Name',
 'Tehsil Code',
 'Tehsil Name',
 'Town Code/Village code',
 'Ward No',
 'Area Name',
 'Rural/Urban',
 'Total Number of households',
 'Total Number of Good',
 'Total Number of Livable',
 'Total Number of Dilapidated',
 'Total Number of Residence households',
 'Total Number of Residence Good',
 'Total Number of Residence Livable',
 'Total Number of Residence Dilapidated',
 'Total Number of Residence cum other',
 'Number of Residence cum Good',
 'Residence_cum_Livable',
 'Residence_cum_Dilapidated',
 'Material_Roof_GTBW',
 'Material_Roof_PP',
 'Material_Roof_HMT',
 'Material_Roof_MMT',
 'Material_Roof_BB',
 'Material_Roof_SS',
 'Material_Roof_GMAS',
 'Material_Roof_Concrete',
 'Material_Roof_AOM',
 'Material_Roof_GTB',
 'Material_Roof_PP1',
 'Material_Roof_MUB',
 'Material_Roof_Wood',
 'Material_Wall_SNPWM',
 'Material_Wall_SPWM',
 'Material_Wall_GIMAS',
 'Material_Wall_Bb',
 'Material_Wall_Concrete',
 'Material_Wall_AOM',
 'Material_Floor_Mud',
 'Material_Floor_WB',
 'Material_Floor_BB',
 'Material_Floor_Stone',
 'Material_Floor_Cement',
 'Material_Floor_MF',
 'Material_Floor_AOM',
 'Dwelling_R_NER',
 'Dwelling_R_OR',
 'Dwelling_R_TR',
 'Dwelling_R_TH_R',
 'Dwelling_R_FR',
 'Dwelling_R_FI_R',
 'Dwelling_R_SRA',
 'H_size_1',
 'H_size_2',
 'H_size_3',
 'H_size_4',
 'H_size_5',
 'H_size_6_8',
 'H_size_9',
 'O_status_O',
 'O_status_R',
 'O_status_AO',
 'Married_C_N',
 'Married_C_1',
 'Married_C_2',
 'Married_C_3',
 'Married_C_4',
 'Married_C_5',
 'DW_TFTS',
 'DW_TFUS',
 'DW_CW',
 'DW_UW',
 'DW_Handpump',
 'DW_TB',
 'DW_Spring',
 'DW_RC',
 'DW_TPL',
 'DW_OS',
 'Within_premises',
 'Near_premises',
 'Away',
 'MSL_Electricty',
 'MSL_Kerosene',
 'MSL_SE',
 'MSL_OO',
 'MSL_AO',
 'MSL_NL',
 'Latrine_premise',
 'Latrine_PSS',
 'Latrine_ST',
 'Latrine_OS',
 'Pit_latrine_SVI',
 'Pit_latrine_SOP',
 'disposed_drain',
 'Service_Latrine_NRH',
 'Service_Latrine_NSA',
 'H_latrine_premoses',
 'Alternative_Source',
 'Alternative_Source_Open',
 'Households_Bathroom',
 'Households_EWR',
 'Households_No',
 'Waste_water_CD',
 'Waste_water_OD',
 'Waste_water_ND',
 'Cooking_FW',
 'Cooking_CR',
 'Cooking_CC',
 'Cooking_CLC',
 'Cooking_kerosene',
 'Cooking_LPG_PNG',
 'Cooking_Electricity',
 'Cooking_Biogas',
 'Cooking_AO',
 'Cooking_NC',
 'Total',
 'Cooking_IH',
 'Has_kitchen',
 'DNHK',
 'Cooking_OH',
 'has_kitchen1',
 'DNH_Kitchen',
 'No_Cooking',
 'TNHAB',
 'assets_RT',
 'assets_Tel',
 'assets_CL_WI',
 'assets_CLWI',
 'assets_TM_LO',
 'assets_TM_MO',
 'assets_TM_Both',
 'assets_Bicycle',
 'assets_SMM',
 'assets_CJV',
 'Household_TV_LP',
 'None_AS',
 'Permanents',
 'Semi_Permanent',
 'Total_Temporary',
 'Serviceable',
 'Non_Serviceable',
 'Unclassifiable',
 'TC_VC',
 'Contition_T_Total',
 'Contition_T_Good',
 'Contition_T_Livable',
 'Contition_T_Dilapidated',
 'Contition_R_Total',
 'Residence_Good',
 'Residence_Livable',
 'Residence_Dilapidated',
 'Residence_cum_other',
 'Residence_cum_Good']

In [33]:
ind_cen_husing.drop(columns = ['Total Number of Good',
 'Total Number of Livable',
 'Total Number of Dilapidated',
 'Total Number of Residence households',
 'Total Number of Residence Good',
 'Total Number of Residence Livable',
 'Total Number of Residence Dilapidated',
 'Total Number of Residence cum other',
 'Number of Residence cum Good',
 'Residence_cum_Livable',
 'Residence_cum_Dilapidated',
 'Material_Roof_GTBW',
 'Material_Roof_PP',
 'Material_Roof_HMT',
 'Material_Roof_MMT',
 'Material_Roof_BB',
 'Material_Roof_SS',
 'Material_Roof_GMAS',
 'Material_Roof_Concrete',
 'Material_Roof_AOM',
 'Material_Roof_GTB',
 'Material_Roof_PP1',
 'Material_Roof_MUB',
 'Material_Roof_Wood',
 'Material_Wall_SNPWM',
 'Material_Wall_SPWM',
 'Material_Wall_GIMAS',
 'Material_Wall_Bb',
 'Material_Wall_Concrete',
 'Material_Wall_AOM',
 'Material_Floor_Mud',
 'Material_Floor_WB',
 'Material_Floor_BB',
 'Material_Floor_Stone',
 'Material_Floor_Cement',
 'Material_Floor_MF',
 'Material_Floor_AOM',
 'Dwelling_R_NER',
 'Dwelling_R_OR',
 'Dwelling_R_TR',
 'Dwelling_R_TH_R',
 'Dwelling_R_FR',
 'Dwelling_R_FI_R',
 'Dwelling_R_SRA',
 'H_size_1',
 'H_size_2',
 'H_size_3',
 'H_size_4',
 'H_size_5',
 'H_size_6_8',
 'H_size_9',
 'O_status_O',
 'O_status_R',
 'O_status_AO',
 'Married_C_N',
 'Married_C_1',
 'Married_C_2',
 'Married_C_3',
 'Married_C_4',
 'Married_C_5',
 'DW_TFTS',
 'DW_TFUS',
 'DW_CW',
 'DW_UW',
 'DW_Handpump',
 'DW_TB',
 'DW_Spring',
 'DW_RC',
 'DW_TPL',
 'DW_OS',
 'Within_premises',
 'Near_premises',
 'Away',
 'MSL_Electricty',
 'MSL_Kerosene',
 'MSL_SE',
 'MSL_OO',
 'MSL_AO',
 'MSL_NL',
 'Latrine_premise',
 'Latrine_PSS',
 'Latrine_ST',
 'Latrine_OS',
 'Pit_latrine_SVI',
 'Pit_latrine_SOP',
 'disposed_drain',
 'Service_Latrine_NRH',
 'Service_Latrine_NSA',
 'H_latrine_premoses',
 'Alternative_Source',
 'Alternative_Source_Open',
 'Households_Bathroom',
 'Households_EWR',
 'Households_No',
 'Waste_water_CD',
 'Waste_water_OD',
 'Waste_water_ND',
 'Cooking_FW',
 'Cooking_CR',
 'Cooking_CC',
 'Cooking_CLC',
 'Cooking_kerosene',
 'Cooking_LPG_PNG',
 'Cooking_Electricity',
 'Cooking_Biogas',
 'Cooking_AO',
 'Cooking_NC',
 'Total',
 'Cooking_IH',
 'Has_kitchen',
 'DNHK',
 'Cooking_OH',
 'has_kitchen1',
 'DNH_Kitchen',
 'No_Cooking',
 'TNHAB',
 'assets_RT',
 'assets_Tel',
 'assets_CL_WI',
 'assets_CLWI',
 'assets_TM_LO',
 'assets_TM_MO',
 'assets_TM_Both',
 'assets_Bicycle',
 'assets_SMM',
 'assets_CJV',
 'Household_TV_LP',
 'None_AS',
 'Permanents',
 'Semi_Permanent',
 'Total_Temporary',
 'Serviceable',
 'Non_Serviceable',
 'Unclassifiable',
 'TC_VC',
 'Contition_T_Total',
 'Contition_T_Good',
 'Contition_T_Livable',
 'Contition_T_Dilapidated',
 'Contition_R_Total',
 'Residence_Good',
 'Residence_Livable',
 'Residence_Dilapidated',
 'Residence_cum_other',
 'Residence_cum_Good'],inplace=True)

In [34]:
ind_cen_husing.shape

(1908, 11)

In [35]:
ind_cen_husing

,State Code,State Name,District Code,District Name,Tehsil Code,Tehsil Name,Town Code/Village code,Ward No,Area Name,Rural/Urban,Total Number of households
0,1,JAMMU & KASHMIR,1,Kupwara,0,Kupwara,0,0,District - Kupwara,Rural,100
1,1,JAMMU & KASHMIR,1,Kupwara,0,Kupwara,0,0,District - Kupwara,Total,100
2,1,JAMMU & KASHMIR,1,Kupwara,0,Kupwara,0,0,District - Kupwara,Urban,100
3,1,JAMMU & KASHMIR,2,Badgam,0,Badgam,0,0,District - Badgam,Rural,100
4,1,JAMMU & KASHMIR,2,Badgam,0,Badgam,0,0,District - Badgam,Total,100
...,...,...,...,...,...,...,...,...,...,...,...
1903,35,ANDAMAN & NICOBAR ISLANDS,639,North & Middle Andaman,0,North & Middle Andaman,0,0,District - North & Middle Andaman,Total,100
1904,35,ANDAMAN & NICOBAR ISLANDS,639,North & Middle Andaman,0,North & Middle Andaman,0,0,District - North & Middle Andaman,Urban,100
1905,35,ANDAMAN & NICOBAR ISLANDS,640,South Andaman,0,South Andaman,0,0,District - South Andaman,Rural,100
1906,35,ANDAMAN & NICOBAR ISLANDS,640,South Andaman,0,South Andaman,0,0,District - South Andaman,Total,100
1907,35,ANDAMAN & NICOBAR ISLANDS,640,South Andaman,0,South Andaman,0,0,District - South Andaman,Urban,100

In [39]:
ind_cen_husing[ind_cen_husing['Rural/Urban']=='Urban']

,State Code,State Name,District Code,District Name,Tehsil Code,Tehsil Name,Town Code/Village code,Ward No,Area Name,Rural/Urban,Total Number of households
2,1,JAMMU & KASHMIR,1,Kupwara,0,Kupwara,0,0,District - Kupwara,Urban,100
5,1,JAMMU & KASHMIR,2,Badgam,0,Badgam,0,0,District - Badgam,Urban,100
8,1,JAMMU & KASHMIR,3,Leh(Ladakh),0,Leh(Ladakh),0,0,District - Leh(Ladakh),Urban,100
11,1,JAMMU & KASHMIR,4,Kargil,0,Kargil,0,0,District - Kargil,Urban,100
14,1,JAMMU & KASHMIR,5,Punch,0,Punch,0,0,District - Punch,Urban,100
...,...,...,...,...,...,...,...,...,...,...,...
1894,34,PUDUCHERRY,635,Puducherry,0,Puducherry,0,0,District - Puducherry,Urban,100
1896,34,PUDUCHERRY,636,Mahe,0,Mahe,0,0,District - Mahe,Urban,100
1899,34,PUDUCHERRY,637,Karaikal,0,Karaikal,0,0,District - Karaikal,Urban,100
1904,35,ANDAMAN & NICOBAR ISLANDS,639,North & Middle Andaman,0,North & Middle Andaman,0,0,District - North & Middle Andaman,Urban,100
1907,35,ANDAMAN & NICOBAR ISLANDS,640,South Andaman,0,South Andaman,0,0,District - South Andaman,Urban,100

In [46]:
df = dis_wise_cent.merge(ind_dist_cen,left_on='District',right_on='District name').drop(columns=['State name','District name'])

In [47]:
df

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Male_Literate,...,Household_size_9_persons_and_above_Households,Location_of_drinking_water_source_Away_Households,Married_couples_1_Households,Married_couples_2_Households,Married_couples_3_Households,Married_couples_3_or_more_Households,Married_couples_4_Households,Married_couples_5__Households,Married_couples_None_Households,Total_Power_Parity
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,856350,...,12000,210059,503266,58377,6455,7297,722,120,82830,4181
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,1338474,...,20566,207645,718794,115052,15584,17947,1994,369,109372,5799
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,1484794,...,13905,140697,757090,105579,10901,12183,1103,179,147264,5926
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,1716933,...,7478,235274,1085890,85895,6477,7007,450,80,228618,7211
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,1634726,...,10111,267760,972992,117838,10388,11313,821,104,185688,6981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,3988845,2051541,1937304,2086432,1152019,...,34115,230891,645609,92422,14596,17689,2519,574,83218,4191
513,West Bengal,Murshidabad,24.259507,88.168169,333,7103807,3627564,3476243,4055834,2177187,...,59019,394901,1204751,161887,27361,32750,4328,1061,162504,8088
514,West Bengal,Nadia,23.564110,88.582930,336,5167600,2653768,2513832,3480555,1878866,...,28340,143983,929744,149929,23962,28090,3386,742,124093,7048
515,West Bengal,Puruliya,23.254192,86.396853,340,2930115,1496996,1433119,1624905,1002058,...,48686,287559,377334,97784,25976,33073,5569,1528,61063,3309
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,3007134,1551066,1456068,1489667,853495,...,30234,77223,471345,60312,8186,9659,1190,283,56856,3214

In [48]:
df.shape

(517, 75)

In [49]:
df.columns

Index(['State', 'District', 'Latitude', 'Longitude', 'District code',
       'Population', 'Male', 'Female', 'Literate', 'Male_Literate',
       'Female_Literate', 'SC', 'Male_SC', 'Female_SC', 'ST', 'Male_ST',
       'Female_ST', 'Workers', 'Male_Workers', 'Female_Workers',
       'Main_Workers', 'Marginal_Workers', 'Non_Workers', 'Cultivator_Workers',
       'Agricultural_Workers', 'Household_Workers', 'Other_Workers', 'Hindus',
       'Muslims', 'Christians', 'Sikhs', 'Buddhists', 'Jains',
       'Others_Religions', 'LPG_or_PNG_Households',
       'Housholds_with_Electric_Lighting', 'Households_with_Internet',
       'Households_with_Computer', 'Rural_Households', 'Urban_Households',
       'Households', 'Below_Primary_Education', 'Primary_Education',
       'Middle_Education', 'Secondary_Education', 'Higher_Education',
       'Graduate_Education', 'Other_Education', 'Literate_Education',
       'Illiterate_Education', 'Total_Education', 'Age_Group_0_29',
       'Age_Group_30_49', 'Age_Group_50', 'Households_with_Television',
       'Ownership_Owned_Households', 'Ownership_Rented_Households',
       'Household_size_1_person_Households',
       'Household_size_2_persons_Households', 'Household_size_1_to_2_persons',
       'Household_size_3_persons_Households',
       'Household_size_3_to_5_persons_Households',
       'Household_size_4_persons_Households',
       'Household_size_5_persons_Households',
       'Household_size_6_8_persons_Households',
       'Household_size_9_persons_and_above_Households',
       'Location_of_drinking_water_source_Away_Households',
       'Married_couples_1_Households', 'Married_couples_2_Households',
       'Married_couples_3_Households', 'Married_couples_3_or_more_Households',
       'Married_couples_4_Households', 'Married_couples_5__Households',
       'Married_couples_None_Households', 'Total_Power_Parity'],
      dtype='object')

In [50]:
df[['Household_size_5_persons_Households','Married_couples_5__Households']]

     Household_size_5_persons_Households  Married_couples_5__Households
0                                 132039                            120
1                                 196768                            369
2                                 190750                            179
3                                 208570                             80
4                                 200288                            104
..                                   ...                            ...
512                               169987                            574
513                               305744                           1061
514                               223354                            742
515                               114048                           1528
516                               118682                            283

[517 rows x 2 columns]

In [57]:
df.to_csv("../census_data/final_df.csv",index=False)

In [62]:
df.iloc[0:2,0:5]

            State   District   Latitude  Longitude  District code
0  Andhra Pradesh   Adilabad  19.284514  78.813212            532
1  Andhra Pradesh  Anantapur  14.312066  77.460158            553

In [66]:
state = list(df['State'].unique())

In [68]:
state.insert(0,"Whole India")

In [69]:
state

['Whole India',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Daman and Diu',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Orissa',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttaranchal',
 'West Bengal']